#country, #writers, #language, #directors, #actors {
    width: 100%;
}

#edit-fields-nf, #edit-fields-lf, #edit-fields-participant,
#accept-editing-fields-nf, #accept-editing-fields-lf, #movie-id, #countries-hidden,
#genres-hidden, #participants-hidden {
    display: none;
}

#add-poster-movie .panel-body {
    height: 534px;
}

.movie-poster {
    height: 505px;!important;
}

.main-buttons-wrapper button {
    width: 100%;
}

.message-nf, .message-lf {
    z-index: 1;
    width: 100%;
}

.new-size-alert {
    padding-top: 6px;
    padding-bottom: 5px;
    margin-bottom: 0;
}