.movie-poster {
    /*box-shadow: 0 0 1px rgb(156, 138, 138);*/
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8
}

.poster-side {
    padding-left: 0;
}

.movie-title-divider {
    margin-top: 0;
}

.movie-table {
    border-collapse: separate;
}

.movie-table > tbody > tr:first-child > td {
    border: none;
}

.movie-table > tbody > tr > td:first-child {
    width: 43%;
}

.movie-table > tbody > tr:last-child:not(.table-footer) > td {
    border-bottom: 1px solid #ddd;;
}

.movie-status-side {
    margin-top: 40px;
    padding-right: 10%;
}

.movie-status-side span {
    padding: 0 3% 0 3%;
}

#rating-section {
    padding: 20px;
    border-radius: 2px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.movie-input-wrapper {
    padding-left: 21px;
}

#movie-id, #user-id {
    display: none;
}

#message {
    z-index: 1;
    width: 100%;
}

#review-message {
    z-index: 1;
    width: 100%;
    /*height: 54px;*/
}

.movie-description-divider {
    border-bottom: solid #ff5f2b;
    font-size: 16px;
    margin-bottom: 30px;
}

.review .publication-date {
    text-align: center;
}

.review {
    /*border-left: solid #ff5f2b;*/
    border-radius: 1px;
}

.review-positive {
    background-color: #d4f8db;
}

.review-negative {
    background-color: #f3c5c5;
}

.review-neutral {
    background-color: #edeaf3;
}
.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

#close-review-box {
    display: none;
    margin-right: 10px;
}

#post-review-box {
    display: none;
}

.review-button-wrapper {
    margin-top: 10px;
}

.review-button-wrapper button {
    padding: 4px 0;
    width: 77px;
}

.review-button-wrapper label {
    margin-top: 5px;
    text-align: left;
}

#open-review-box {
    background-color: #ff5f2b;
    border: solid #ff5f2b;
}

.review-form a, button {
    border-radius: 2px;
}

.review-form .well {
    border-left: solid #ff5f2b;
}

.blue-frame {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(74, 86, 224, 0.8);
}

.review-textarea{
    /*background-color: inherit;*/
    padding: 0;
    margin: 0;
    width: 100%;
    opacity: 0.8;
}

.edit-review-input-wrapper, .edit-review-form , #review-id-user, #accept-edit-rev-btn ,#open-review-box, #user-review-type{
    display: none;
}


