<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <welcome-file-list>
        <welcome-file>Controller</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>by.epam.movierating.controller.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>by.epam.movierating.controller.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>by.epam.movierating.controller.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>CurrentUserFilter</filter-name>
        <filter-class>by.epam.movierating.controller.filter.CurrentUserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CurrentUserFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>RoleAndRightsFilter</filter-name>
        <filter-class>by.epam.movierating.controller.filter.RoleAndRightsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoleAndRightsFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>

    <listener>
        <listener-class>by.epam.movierating.controller.listener.ConnectionPoolListener</listener-class>
    </listener>
    <listener>
        <listener-class>by.epam.movierating.controller.listener.DefaultLanguageListener</listener-class>
    </listener>
    <listener>
        <listener-class>by.epam.movierating.controller.listener.RoleListener</listener-class>
    </listener>

    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
</web-app>